.menu{background-color: white;}
.menu ul li{
	display: inline;
}
.wrapmenu{
	background: rgba(0,0,0,.7);
	height: 350px;
}
.submenu{
	height: 350px;
}
.wrapmenu li > a{
	color: white
}
.submenu{
	margin: 0!important;
	padding: 0!important;
	border-right: 1px solid #d3ae57;
}
.submenu ul li a i{
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
.submenu ul li{
	display: block;
	border-bottom: 1px solid white;
	padding-right: 15px;
}
.wrapmenu ul li a{
	padding: 5px 10px;
	display: inline-block;
	position: relative;
	width: 100%;
	position: relative;
}
.submemu ul li{
	display: block
}
.submenu .contentsub{
	display: none;
}
.contentsub ul li{
	display: block;
}
.contentsub ul li a{
	border-bottom: 1px solid white;
	padding-left: 0;
}
.contentsub ul li:last-child a{
	border-bottom: none;
}
.col-11{
	background-color: white;
	padding: 0 !important;
	justify-content:space-around	;	
}
.menu .navbar .container-fluid{
	display: grid;
	flex-wrap: nowrap;
	align-items: normal;
	justify-content: normal;
}
.menu .navbar{background-color: white}
.menu .navbar .nav-link{
	padding: 10px 0
}
.fill{
	height: 35px;
	padding: 5px 0
}
.contentsub .fill{
	border-bottom: 1px solid white;
}
.menucontainer{
	max-width: 80%;
	margin: 0 auto;
}
.dropdown:hover .item-sub{
	display: block;
}
.item-sub:hover{
	display: block;
}
.dropdown .item-sub{
	position: absolute;
	z-index: 1;
	top: 100%;
	left: 0;
	width: 100%;
	display: none;
}
.menu .dropdown, .menu .navbar{
	position: inherit !important
}
.menu .navbar{
	margin: 0 !important;
	padding: 0;
}
.head{
	border-bottom: 3px solid rgba(211,174,87,.54);
}
.head1{
	justify-content: space-between;
	align-items: center;
	max-width: 80%;
	padding: 15px 0;
}
.head2 ul li{
	list-style: none;
	display: inline;
	margin: 15px;
	padding: 15px 0;
	position: relative;
}
.head2 ul li:hover ul{
	display: block
}
.head2 ul li ul{
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 2;
	width: 100%;
	background-color: rgba(0,0,0,.7);
	color: white
}
.head2 ul li ul li{
	list-style: none;
	display: block;
	margin: 0;
	padding: 7px 5px;
}
.head2 ul li ul li:hover{
	background-color: rgba(255,255,255,.7);
}
.form-inline{
	overflow: hidden;
	border: 1px solid #eee;
    border-radius: 20px;
}
.form-inline input{
	border: none;
	padding-left: 50px;
}
.form-inline button{
	position: absolute;
	left: 0;
	top: 0;
	border: none;
	color: black;
}
.form-inline input:focus{outline: none!important; border: none;}
.wr{padding: 15px 0}
/*Akses Footer Yogi*/
.footer{width: 100%; min-height: 150px; background-color: DarkGrey}

.footer2-atas{
	padding-top: 70px;
	padding-bottom: 58px;
	background-color: #e3e3e3;
	border-bottom: 1px solid #fecf3a;

}
	
.con-fa{
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;	
	padding-bottom: 30px;


}
.con2-fa{
	margin-right: 15px;
	margin-left: 15px
}
.kiri-fa{
	width: 33.33333333333333%;
	position: relative;
    min-height: 1px;
	display: inline-block;
	float: left;
	
	
}
.tengah-fa{
	width: 33.333333333%;
	position: relative;
    min-height: 1px;
    display: inline-block;
    float: center;
   

}
.kanan-fa{
	width: 33.333333333%;
	position: relative;
    min-height: 1px;
    display: inline-block;
    float: right;
    
}
#logo-footer{
	margin-left: 35px;
	display: block;
}

.con2-fa ul{
	list-style-type: none;
	margin-top: 25px;
}
.con2-fa ul li{
	line-height: 24px;
}
.con2-fa ul li a{
	font-family: 'montserrat',sans-serif !important;
	color: #333;
	text-decoration: none;
	line-height: 24px;	
}
.con2-fa ul li a:hover{
	text-decoration-line: underline;
}
.con2-fa h4{
	font-family: 'montserrat',sans-serif !important;
	letter-spacing: 0.7px;
	font-size: 14px;
	line-height: 1.1;
	color: #000;
	margin-top: 10px;
	margin-bottom: 3px;
	font-weight: bold;
}



.footer-bawah{
	background-color: #e3e3e3;
	padding-top: 12px;
	padding-bottom: 14px;	
}
.con-fb{
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	

}
.con2-fb{
	margin-left: 15px;
	margin-right: 15px;
	
}
.isi-c{
	position: relative;
    min-height: 1px;
    letter-spacing: 0.7px;
    padding-right: -15px;
    padding-left: -15px;

}
.footer-bawah p{
	font-size: 13px;
	font-weight: 2px;
	text-align: right;
	line-height: 18px;
	color: #000;
	font-family: 'montserrat',sans-serif !important;
}
