.h1, h1.title-widget-utm:before {
  content: "";
  position: relative;
  display: block;
  width: 1.5em;
  border-bottom: .2em solid;
  margin-bottom: 7px;
}

.post-widget {
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
}

.post-widget li {
}

.post-widget li {
  margin: 5px 0;
  font-weight: 400;
  font-size: 14.5px;
  margin-bottom: 0.5em;
  line-height: 1.8;
}



.nav-item a:hover{
  text-decoration-line: underline;
  color: #009bc1;
}

.post-widget li a {
  color: #00abd6;

}

.search-widget form .form-control {
  outline: 3px solid #f0eef0;
}

html {
  line-height: 1.8;
}

#footer-blog {
  border-top: 1px solid #3d3f47;
}

.text-left.comment-span {
  position: absolute;
  right: 0;
  top: 1.1em;
}

@media (max-width: 550px) {
  .title-post-zen {
    margin-right: 0;
  }
}

@media (max-width: 1024px) {
  .wrap-post-zen {
    flex-direction: column !important;
  }
}

@media (min-width: 992px) {
  .title-post-zen {
    margin-right: 155px;
  }
}

@media (max-width: 768px) {
  .wrap-post-zen-0 {
    flex-direction: column!important;
  }
}

@media (max-width: 576px) {
  .sidebar-mobile {
    flex-grow: 1 !important;
    width: 100% !important;
  }
}

.rlv-zen {
  position: relative;
}

.social-pc {
  position: absolute;
}

@media (min-width: 732px) {
  .social-mobile {
    display: none !important;
  }
}

@media (min-width: 732px) {
  .social {
    display: block;
  }
}

@media (max-width: 425px) {
  .social-mobile {
    display: none !important;
  }
}

@media (min-width: 732px) {
  #social {
    display: flex !important;
  }
}

@media (max-width: 732px) {
  #social {
    display: none !important;
  }
}

@media (min-width: 425px) {
  #social {
    display: none;
  }
}

@media (max-width: 425px) {
  #social {
    display: flex !important;
  }
}

